<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Application Test</span>
    <span class="menu-spacer"></span>
    <a mat-button [routerLink]="'/users'" routerLinkActive="active">users</a>
    <a mat-button [routerLink]="'/bags/:id'" routerLinkActive="active">bags</a>
  </mat-toolbar-row>
</mat-toolbar>
