<h1>Create a user</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field class="user-form-input" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" [(ngModel)]="user.username">
      <mat-error *ngIf="usernameCtrl.invalid">invalid username</mat-error>
<!--      {{usernameCtrl.get([1])}}-->
    </mat-form-field>
    <mat-form-field class="user-form-input" appearance="outline">
      <mat-label>Birthdate</mat-label>
      <input matInput formControlName="birthdate" [matDatepicker]="picker" [(ngModel)]="user.birthdate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdateCtrl.invalid">user must have more than 18 years old</mat-error>
    </mat-form-field>
    <mat-form-field class="user-form-input" appearance="outline">
      <mat-label>Residence Country</mat-label>
      <input matInput formControlName="residenceCountry" [(ngModel)]="user.residenceCountry">
      <mat-error *ngIf="residenceCountryCtrl.invalid">user must be in France</mat-error>
    </mat-form-field>
    <mat-form-field class="user-form-input" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" [(ngModel)]="user.phoneNumber">
      <mat-error *ngIf="phoneNumberCtrl.invalid">invalid phone number format</mat-error>
    </mat-form-field>
    <mat-form-field class="user-form-input" appearance="outline">
      <mat-label>Gender</mat-label>
      <input matInput formControlName="gender" [(ngModel)]="user.gender">
      <mat-error *ngIf="genderCtrl.invalid">user can't be of gender Robot until the name is robocop</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="!userForm.valid" [mat-dialog-close]="user" (click)="save(user)">Create</button>
</div>
