.user-page{
  align-content: center;
  display: inline-flex;
  padding: 10px;
}



.card {
  margin: 10px;
  max-height: 500px;
  overflow: scroll;
  scroll-behavior: revert;
  + .detail {
    min-width: 300px;
  }
}

.card::-webkit-scrollbar {
  display: none;
}

.create-user {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
