<div style="display: inline-flex; flex-direction: column">
<div class="user-page">

  <mat-card class="card">

    <mat-card-title>
      <h2>User list</h2>
    </mat-card-title>

    <mat-card-content>
      <div class="user-list">
        <table mat-table matSort [dataSource]="usersDatasource">

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let user; columns: columnsToDisplay"></tr>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> User id </th>
            <td mat-cell *matCellDef="let user"> {{user?.id}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="username"> Username </th>
            <td mat-cell *matCellDef="let user"> {{user?.username}} </td>
          </ng-container>

          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef> Operations </th>
            <td mat-cell *matCellDef="let user">
              <button mat-button color="primary" (click)="selectUser(user)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-button color="primary" (click)="deleteUser(user.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-button color="primary" (click)="editUser(user)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
        </table>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="card detail">
    <mat-card-title>
      <h2>User Detail</h2>
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <p id="username" type="text">username : {{currentUser.username}} </p>
        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <p id="birthdate" type="text">birthdate : {{currentUser.birthdate | date: 'dd/MM/yyyy'}} </p>
        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <p id="residenceCountry" type="text">residenceCountry : {{currentUser.residenceCountry}} </p>
        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <p id="phoneNumber" type="text">phoneNumber : {{currentUser.phoneNumber}} </p>
        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <p id="gender" type="text">gender : {{currentUser.gender}} </p>
        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="create-user">
  <button mat-fab (click)="createUser()">
    <mat-icon>add</mat-icon>
  </button>
</div>
</div>
